.header {
    background-color: var(--background-color-dark);
    background-image: url("../img/leyre-71SHXwBLp5w-unsplash.jpg");
    background-size: cover;
    color: var(--main-text-color);
}

.header__title {
    margin-top: 5vh;
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 4.5rem;
    font-weight: 500;
}

.header__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 10vw;
    row-gap: 3em;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.3em;
}


.header__buttons-view, .header__buttons-contact {
    padding: 8px 17vw;
    border-radius: 10px;
    border: 1px solid var(--main-color); 
    font-weight: 300;
    font-size: 1rem;
    text-wrap: nowrap;
    background-color: transparent;
    color: var(--main-text-color);
    box-shadow: 0px 0px 6px 4px var(--shadow-btn-color);
    max-width: 10vw;
    display: flex;
    justify-content: center;
}

button:hover {
    opacity: 1;
    background-color: var(--plain-btn-color);
    box-shadow: 0 0 2px var(--hover-btn-color-shadow), 
    0 0 5px var(--hover-btn-color-shadow), 
    0 0 10px var(--hover-btn-color-shadow),
    0 0 20px var(--hover-btn-color-shadow);
    cursor: pointer;
    font-weight: 600;
}

button:active {
    box-shadow: 0 0 2px var(--active-btn-color-shadow), 
    0 0 5px var(--active-btn-color-shadow), 
    0 0 10px var(--active-btn-color-shadow),
    0 0 20px var(--active-btn-color-shadow);
}

.header__infotop {
    margin-top: 4vh;
    background-color: var(--background-color-dark);
    border-top-color: var(--main-color);
}

.header__infotop-logo {
    width: 25vw;
    max-width: 150px;
    height: auto;
    margin: auto;
}

.header__infotop-title {
    padding: 0 3vw 6vh 3vw;
    text-align: center;
    font-weight: 300;
    font-size: 0.5rem;
}

::selection{
    background: var(--background-color-common);
}



@media screen and (min-width: 400px) and (max-width: 699px) {
    .header__infotop-title {
        font-size: 0.8rem;
    }
    .header__buttons-view, .header__buttons-contact {
        padding: 8px 13vw;
    }
}


@media screen and (min-width: 700px) {
    .header__top {
        row-gap: 2em;
    }
    .header__buttons-view, .header__buttons-contact {
        padding: 8px 10vw;
    }
    .header__infotop-title {
        font-size: 0.8rem;
    }
}