.navigation {
    position: fixed;
    max-width: 13vw;
    bottom: 6vh;
    right: 3vh;
}

.navigation__btn {
    background-color: var(--nav-btn-color) !important;
    background-color: transparent;
    border: none;
    border-radius: 35vw;
}


@media screen and (min-width: 350px) {
    .navigation {
        max-width: 9vw;
    }
}

@media screen and (min-width: 500px) {
    .navigation {
        max-width: 60px;
    }
}

@media screen and (min-width: 1500px) {
    .navigation {
        right: calc((100% - 1100px) / 4)
    }
}

@media screen and (min-width: 1800px) {
    .navigation {
        right: calc((100% - 1100px) / 3)
    }
}